@import ../../../index

.Container
	margin-top: 1em
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: 1fr 9fr
	justify-content: center
	align-content: center
	padding: 0 1em

.Container-Body
	background-color: #3E3E3E
	border-radius: 0 0 1em 1em
	height: 100%
	display: flex
	flex-direction: column
	padding: 2em 2em
	align-items: center
